ol#example-2,
ol#example-4,
ol#example-5 {
	background-color: #fff;
	color: #aaa;
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	list-style: none;
	margin: 0;
	padding: 2px;
	width: 240px;
}
#example-2 li,
#example-4 li,
#example-5 li {
  background-color: #f1f1f1;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  margin-bottom: 2px;
  padding: 5px;
}
#example-2 li:hover {
	background-color: #fff;
}
#example-2 a {
	color: #4183c4;
	text-decoration: none;
}
#example-2 a:hover { text-decoration: underline; }
#example-2 span {
	display: block;
	font-size: 10px;
}
#example-2 p { display: none; }
#example-2 li:hover > p {
	color: #000;
	display: block;
	font-size: 10px;
}